<div class="comtainer">
  <div class="row">
    <% @restaurants.each do |restaurant| %>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <h2> <%= link_to restaurant.name, restaurant_path(restaurant) %> </h2>
      <p><%= restaurant.address %></p>
    </div>
    <% end %>
  </div>
</div>

<div class = text-center ><%= link_to "Add a new restaurant",  new_restaurant_path, class:"btn btn-primary"  %></div>
